name: Node.js CI

on:
    push:
        branches: [ '**' ]
    pull_request:
        branches: [ '**' ]
    release:
        types: [ published ]

jobs:
    build:
        env:
            NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN || '' }}
        runs-on: macos-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v4
        - name: Use Node.js
          uses: actions/setup-node@v4
          with:
            node-version: 24
            registry-url: 'https://registry.npmjs.org'
        - name: Install Dependencies
          run: npm ci

        - name: Build
          run: npm run dist

        - name: Run Tests
          run: npm run test

        - name: Publish Latest Release
          if: github.event_name == 'release' && env.NODE_AUTH_TOKEN != ''
          run: npm run publish-ci
